<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Error 404!!</title>
  <link rel="stylesheet" href="/Css/styleError.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="error-info">
  <img src="https://i.pinimg.com/236x/49/bb/1d/49bb1d6f5c3881f6c0f394b6a4613c90.jpg" alt="404 pic" width="200" height="200">
  <h1>Something went wrong, sorry!!</h1>
  <span th:if="${exception}" th:text="${message}"></span>
</div>
</body>
</html>
